body {
	background: url('../img/bgimages.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
form.login {
	width: 280px;
	height: auto;
	background: rgba(255,255,255,0.6);
	padding: 30px;
	border-radius: 14px;
}
div.avatar{
	position: relative;
	margin-top: -80px;
	margin-bottom: 60px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	padding: 0;
	background: #ffffff;
	margin-left: 50%;
	transform: translate(-50%);
}
div.avatar img {
	width: 100%;
	height: 100%;
}
form.login {
	color: #fff;
	margin:0;
}
form.login h1 {
	margin:15px;
	text-align: center;
	color: #000;
}
.fa {
	color:#000;
	position: absolute;
	margin: -40px 0 0 2px;
	color: rgba(0,0,0,0.8);
}
form.login input[type=email], 
form.login input[type=password] {
	width: 90%;
	height: 40px;
	padding-left: 35px;
	border-radius: 8px;
	font-size: 15px;
	margin-left: -7px;
}
form.login input[type=submit] {
	padding: 0;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	font-weight: 900;
	color: #000;
	font-size: 18px;
	letter-spacing: 1px;
	background: #2980b9;
	border: none;
	color: #fff;
	transition: .5s;
}

form.login input[type=checkbox] {
	width: 16px;
	height: 16px;
	float: left;
}
form.login .forgetpass {
	float: right;
	color: #fff;
	text-decoration: none;
	transition: .3s;
}
form.login .forgetpass:hover {
	text-decoration: underline;
	text-decoration-color: #ff0;
	transition: .3s;
	color: rgba(0,0,0,0.7);
}
div.container .create {
	color: #fff;
	text-align: center;
}
div.container .create .register {
	text-decoration: underline;
	color: #d35400;
	transition: .3s;
}
div.container .create .register:hover {
	color: #8e44ad;
	transition: .3s;
}