
/*menu*/
body{
	font-family:  sans-serif;
	background-color: #f2edf7;
	/*background-color: #fff;*/
}

nav{
	background-color: #cee6fd;
}
a{
	color: #000;
	
}
.nav_link{
	font-size: 18px;
}
.body1{
	font-family:  sans-serif;
	background-color: #f2edf7;
	/*background-color: #fff;*/
}
.box-back{
	color: rgba(255,153,51,0.8);
}
b{
	color: #fff;
}
img{
	color: #fff;
}

.logo{
	width: 50px;
    height: 50px;
	border-radius: 50%;
}
.color {
	background-color:#cee6fd;
}
.colorTextMenu {
	color: #130e0ee0;
}

#footer{
	color:black;
}
.navHover:hover, .navLogo:hover{
	box-shadow: -3px -1px 4px 1px rgb(129, 209, 245);
	background-color: #b9e2f9;
}

/*=============== menu ================*/

/* home page of ero*/
.erohome .card1{ background-color: #ffb53e ; }
.erohome .card2 { background-color: #4e95cb ; }
.erohome .card3 { background-color: #ed233d ; }
.erohome .card4 { background-color: #1db5a6 ; }

.erohome .card:hover{ box-shadow: 7px 9px 25px 5px rgb(156, 152, 160); }


.erohome .title{ background: #7dbcf9; }
.erohome i{ font-size:70px; }
.erohome .card-body a{ 	background-color: #31b5eb ; }

.erohome .card-body a:hover{ box-shadow: -4px -2px 8px 2px rgb(18, 101, 165) }
/*=========== home page of ero ==========*/

/* student page of ero */
form .stuFormEro{
	margin: 1em;
}
/*========== student page of ero =========*/
/* addstudent page*/
form .addStudent{
	padding: 2em;
}
/*============ addstudent page=========*/

/* student menu*/
.stMenu .logo {
	width:150px;
} 
/*=========== student menu =============*/
/* home page of studnet*/
.homeStu{	background: #7dbcf9; }
.cardStu .card1 {	background-color: #4e95cb;}
.cardStu .card2 {	background-color: #ffb53e ;}
.cardStu i {	font-size:70px;}
.cardStu .card-body {	background-color: #fff ;}
.cardStu .card:hover{ box-shadow: 7px 9px 25px 5px rgb(156, 152, 160); }
.cardStu .card-body a:hover { box-shadow: -4px -2px 8px 2px rgb(18, 101, 165) }
/* ============== home page of studnet ========*/
/*dashboard tutor*/

.tTable{
	width: 100%;
}
.tBtn{
	font-size: 20px;
}
.TCMDI{
	font-size:24px;
}
.TCBartChart{
	font-size:15px;
}
.TCBCanVas{
	 width: 800px;

	  height: 450px;
}
.TCBicon{
	font-size:15px;
}
.TCBDcanvas{
	width :800px
	 height:450px;
}
.TSDicon{
	font-size:15px;
}
.TStd{
	padding: 0px 10px  0 10px;
}
.TITitle{
background: #7dbcf9;
 font-family: sans-serif;
}
.TICol{
	padding-left: 0 !important;
}
.TICheader{
	background-color: #ffb53e ;
}
.TICheader1{
	background-color: #4e95cb ;
}
.TICheader2{
	background-color: #1db5a6 ;
}
.TICicon{
	font-size:70px;
}

.TICbody{
	background-color: #31b5eb ;
	font-family: verdana
}
.TICbody1{
	background-color: #31b5eb ; 
	font-family: verdana;
}
.TICbody2{
	background-color: #31b5eb ; 
	font-family: verdana;
}
.TICol1{
	padding-right: 0 !important;
}


.Tlogo{
	width: width:150px;
}
.iconEmail{
	font-size: 20px; 
	margin-right: 20px;
}
#iconBell{

	font-size: 20px;
	 margin-left: 30px;

}
.iconAccount{
	font-size: 20px;
}

/*Menu*/

/* Detail company*/
#col-md-6 {
	font-family: sans-serif; 
}
/*Edit Company*/
.rounded
	{
		padding-left: 50px;
	}
table {
	width: 100%;
}
/*add Student*/
.addStudent{
	margin: 2em 0em 2em 2em;
}

/*viewStudent*/

#viewStudent {
	margin-left: 90px;
	width:50%;
}

/*file name view for view supervisor*/
.userSupervisor{
	width: 200px; 
	height: 200px;
}

.active {
	background: #a0c1e0;
	border-radius: 5px;
	
}
/* notification menu bar */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #17A2B8;
}
.dropdown-menu{
  top: 50px;
  right: 0px;
  left: unset;
  width: 330px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
}
.dropdown-menu:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 12px;
  border:10px solid #343A40;
  border-color: transparent transparent #343A40 transparent;
}
.head{
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}
.footer{
  padding:5px 15px;
  border-radius: 0px 0px 3px 3px; 
}
.notification-box{
  padding: 10px 0px; 
}
.bg-gray{
  background-color: #eee;
}
@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}