
/*menu*/

b{
	color: #fff;
}
img{
	color: #fff;
}

.logo{
	width: 50px;
    height: 50px;
	border-radius: 50%;
}
.color {
	background-color:#cee6fd;
}
.colorTextMenu {
	color: #130e0ee0;
}
body{
	background-color: #f2edf7;
}
#footer{
	color:black;
}
/*=============== menu ================*/
/* addstudent page*/
form .addStudent{
	padding: 2em;
}
/*============ addstudent page=========*/

/* student menu*/
.stMenu .logo {
	width:150px;
} 
/*=========== student menu =============*/

/*dashboard tutor*/

.tTable{
	width: 100%;
}
.tBtn{
	font-size: 20px;
}
.TCMDI{
	font-size:24px;
}
.TCBartChart{
	font-size:15px;
}
.TCBCanVas{
	 width: 800px;

	  height: 450px;
}
.TCBicon{
	font-size:15px;
}
.TCBDcanvas{
	width :800px
	 height:450px;
}
.TSDicon{
	font-size:15px;
}
.TStd{
	padding: 0px 10px  0 10px;
}
.TITitle{
background: #7dbcf9;
 font-family: sans-serif;
}
.TICol{
	padding-left: 0 !important;
}
.TICheader{
	background-color: #ffb53e ;
}
.TICheader1{
	background-color: #4e95cb ;
}
.TICheader2{
	background-color: #1db5a6 ;
}
.TICicon{
	font-size:70px;
}

.TICbody{
	background-color: #31b5eb ;
	font-family: verdana
}
.TICbody1{
	background-color: #31b5eb ; 
	font-family: verdana;
}
.TICbody2{
	background-color: #31b5eb ; 
	font-family: verdana;
}
.TICol1{
	padding-right: 0 !important;
}


.Tlogo{
	width: width:150px;
}
.iconEmail{
	font-size: 20px; 
	margin-right: 20px;
}
.iconBell{

	font-size: 20px;
	 margin-right: 20px;

}
.iconAccount{
	font-size: 20px;
}

/*=========dashboard tutor*=======/
=======
.model img {
	width: 100px;
}
/*=========== student menu =============*/
