.con-body{
	/*margin-top: 0em;*/
	margin-bottom: 3em;
}
.border-form{
	padding: 2em 0em 2em 2em;
	background-color: white;
}
/*editstudent*/
.st-edit{
	padding: 1em;
}
/* ====editstudent===== */